@font-face {
    font-family: 'Scholarly Ambition';
    src: url('/fonts/ScholarlyAmbition-Regular.woff2') format('woff2'),
        url('/fonts/ScholarlyAmbition-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inaptly';
    src: url('/fonts/Inaptly-Regular.woff2') format('woff2'),
        url('/fonts/Inaptly-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}